@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #BFC0C0; 
    overflow-x: hidden;     
    margin-right: 0;    
}

#grid-padre{
    display: grid;  
    grid-template-areas: 
    'header'
    'main'
    'footer';      
    grid-template-rows: auto 1fr auto;
}

header{
    grid-area: header;
}

main{
    grid-area: main;     
    min-height: 100vh;  
}

footer{
    grid-area: footer; 
    background-color: black;
    color: white;  
    width: 100%;    
}

ul{
    list-style: none;   
    padding-left: 0;   
}

.navbar{
    background-color: black;  
    font-size: 15px;      
}

.header-logo{
    width: 101px;
    height: 42px;
}

.main-section-article-ul{    
    display: flex;        
    flex-direction: column;    
}

.main-section-article-li1{
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-section-article-li3{
    font-size: 22px; 
    margin-top: 20px;   
}  

footer li{
    margin: 5px;
}

.footer-ul{
    display: flex;
    flex-direction: column;    
    list-style: none;
    padding-left: 0;
    /* margin-bottom: 0;      */
}

.footer-ul img{
    width: 30px;
    height: 30px;   
}

/* CARD INDEX */
.flip {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    padding: 1em;
    width: 280px;
    height: 254px;
    transform-style: preserve-3d;
    transition: 3s ease;
    display: inline-block;
  }
  
  .flip:hover {
    transform: rotateY(180deg);
  }
  /* Content */
  .flip .content {
    transform-style: preserve-3d;
  }
  
  .flip .back, .flip .front {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .flip .back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .flip h2, .flip p {
    transform: translateZ(90px);
    text-shadow: 0 0 3px black;
    text-align: center;
  }
  
  .flip h2 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .flip p {
    font-size: 1em;
    color: #eee;
    line-height: 1.6em;
  }
  
  .flip::before,
  .flip::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(156deg,
    rgba(0, 0, 0, 1) 37%,
    rgba(60, 78, 122, 1) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg)translateZ(1px);
  }
  
  .flip::before {
    transform: none;
    background-image: linear-gradient(156deg,
    rgba(0, 0, 0, 1) 37%,
    rgba(60, 122, 108, 1) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* SITE - RECETASTOP */
  .section-recetasTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }  

  .section-recetasTop h1{
    margin-top: 20px;
  }

  .section-recetasTop ul{
    width: auto;
    margin: 10px;
    margin-bottom: 15px;
  }

  .section-recetasTop li{
    font-size: 15px;
    text-align: center;
    margin: 5px;    
  }

  .section-recetasTop span{
    font-weight: bold;
  }

  .main-div-recetasTop iframe{
    width: auto;
    height: 200px;
  }
  
/* TABLET */
@media screen and (min-width: 768px){

    body{
        overflow-x: hidden;  
    }
    
    .header-logo{
        width: 130px;
        height: 45px;
    }  

    main{
        height: 83vh;
    }
    
    .main-section-article-li1{
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .main-section-article-li3{
        font-size: 40px; 
        margin-top: 20px;   
    } 
    
    footer{
        margin-right: 0;
        margin-bottom: 0;
    }

    /* SITE - RECETASTOP */
    .main-recetasTop{
        height: 130vh;
    }

}

/* DESKTOP */
@media screen and (min-width: 1024px){

    body{
        overflow-x: hidden;
        overflow-y: auto;
    }  

    #navbarNav{       
        justify-content: end;    
    }

    .header__logo{
        width: 175px;
        height: 60px;
    }    
    
    .main-section-article-li1{
        font-size: 70px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .main-section-article-li3{
        font-size: 40px; 
        margin-top: 20px;   
    } 
    
     /* SITE - RECETASTOP */
    .section-recetasTop ul{
        display: flex;
    }

    .main-div-recetasTop iframe{
        width: 560px;
        height: 315px;
      }
}




